@font-face {
  font-family: 'Frutiger-LT-45-Light';
  src: url('../fonts/Frutiger-LT-45-Light.eot');
  src: url('../fonts/Frutiger-LT-45-Light.woff2') format('woff2'),
       url('../fonts/Frutiger-LT-45-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FrutigerLT-Light';
  src: url('../fonts/FrutigerLT-Light.woff') format('woff'),
       url('../fonts/FrutigerLT-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background-color: #fff;
	color: #000;
	font-family: Frutiger-LT-45-Light,FrutigerLT-Light,Arial,Helvetica,Geneva,sans-serif;
	font-size: 18px;
    line-height: 25px;
	margin-left: auto ;
	margin-right: auto ;
}
body {
	margin: 0;
	min-height: 500px;
}
h1 {
	font-size: 30pt;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 14pt;
}
h4 {
	font-size: 8pt;
	margin: 0;
}
div {
	margin:0;
	padding:0;
}
a {
	text-decoration: none;
	color:#00aae1;
}
a:focus {
	text-decoration: none;
}
a:hover {
	color:#000;	
}
ul {
	list-style: inside none none;
	padding:0;
	left: -4px;
}
li > .link {
	color: #00aae1;
	cursor: pointer;
}
li > .link:hover {
	background-color: #00aae1;
	border-color: #00aae1;
    color: #fff;
}
li > div {
	font-size: 14px;
	display: flex;
	align-items: center;
	padding: 3px 8px;
	text-overflow: ellipsis;
}
label {
	margin:0 8px;
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;
	width: auto;
	
}
input {
    width: 100%;
}
input[type=text]::-ms-clear {
    display: none;
}
input:focus {
	outline:none;
}
.container {
	width: 964px;
	margin-left: auto ;
	margin-right: auto ;
}
.ismobile {
	display:none;
}
.row {
	width: 100%;
}
.container:before,
.container:after,
.row:before,
.row:after {
	display: table;
	content: " ";
}
.container:after,
.row:after {
	clear: both;
}
.filter {
	display:flex;
}
.col-dropdown {
	margin-left: 4px;
}
.col-simple,.col-main,.col-group,.col,.col-filter,.col-arrow,.col-jobcounter,
.col-title, .col-location, .col-unit, .col-function, .col-role {
	position: relative;
	min-height: 1px;
	float: left;
}
.col-mail-icon {
	position: relative;
	min-height: 1px;
	float: right;
}
.col-title, .col-location, .col-unit, .col-function, .col-role,
.col-title > .content-label, 
.col-location > .content-label, 
.col-unit > .content-label, 
.col-function > .content-label, 
.col-role > .content-label {
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;
}
.col {
	width:100%;
}
.col-simple {
	min-width: 52px;
}
.col-main {
	width: 916px;
}
.col-group {
	width: 23%;
	margin-left:2%;
}
.col-title {
	font-weight: bold;
	width: 28%;
}
.col-location {
	width: 14%;
}
.col-unit {
	width: 21%;
}
.col-function {
	width: 20%;
}
.col-role {
	width: 17%;
}
.col-arrow {
	margin: 0;
    position: absolute;
    top: 45%;
    right:0;
}
.add-app-link {
	position: absolute;
	color: #58595b;
	margin-top: 132px;
	margin-left:-2px;
	font-size: 15px;
	font-weight: 700;
    line-height: 22.5px;
}
.last {
	margin-right: 3px;
}
.content > a > .col-title, .content > a > .col-title > .content-label,
.content > a > .col-location, .content > a > .col-location > .content-label,
.content > a > .col-unit, .content > a > .col-unit > .content-label,
.content > a > .col-function, .content > a > .col-function > .content-label,
.content > a > .col-role, .content > a > .col-role > .content-label,
.content > .col-title, .content > .col-title > .content-label,
.content > .col-location, .content > .col-location > .content-label,
.content > .col-unit, .content > .col-unit > .content-label,
.content > .col-function, .content > .col-function > .content-label,
.content > .col-role, .content > .col-role > .content-label {
	white-space: normal;
	text-overflow: ellipsis;

	/* -ms-word-break: break-all;
	-webkit-word-break: break-all;
	-moz-word-break: break-all;
     word-break: break-all; */

	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.content a .col-title {
	color: #00aae1;
}
.content {
	position:relative;
	border-bottom: 1px solid #d1d3d4;
}
.content a {
	color: #000;
}
.content a:hover, h4 a:hover {
	color: #00aae1;
}
.content:before,.content:after {
	padding: 11px;
	display: table;
	content: " ";
}
.content:after {
	clear: both;
}
.content-label {
	margin-right: 8px;
}
.sub-label {
	font-size: 14px;
}
.btn {
	border: 2px solid #00aae1;
    cursor: pointer;
    position: relative;
	height: 48px;
	float: left;
	right:4px;
	background-color: #fff;
	width: 100%;
}
.hide-panel:before {
	content:" ";
	background-color: #fff;
    border-right: 2px solid #00aae1;
    height: 52px;
    left: -1000px;
    position: absolute;
    top: 1px;
    width: 1000px;
    z-index: 9999;
}
.panel{
	position: absolute;
	display: flex;
	border: 2px solid #00aae1;
	width: 100%;
	background-color: #fff;
	right: 0;
	top: 1px;
	z-index:999;
	height:48px;
}
.panel.ng-hide {
	right: 1000px;
}
.panel.ng-hide-add, .panel.ng-hide-remove {
	transition: 0s linear all;
}
.panel.ng-hide-add-active, .panel.ng-hide-remove-active {
	transition: all ease-in-out 300ms;
}
.panel.ng-show-add-active {
	display: block;
}
.btn-click {
	float:none;
	width: 100%;
	padding: 6px 8px;
	font-weight: bold;
	color: #00aae1;
	max-width: 200px;
	margin-left: auto ;
	margin-right: auto ;
	margin-bottom: 50px;
}
.btn-label {
	font-size:14px;
	line-height:1.1;
	height: 18px;
    margin: 16px 0 12px 8px;
	width: 77%;
	float: left;
	
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	font-weight: 700;
	color: #00aae1
}
.btn-label > div {
	width: 100%;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
.btn-label.active {
	height: 28px;
}
.btn-click .btn-label {
	font-size: 18px;
	margin: 14px 0 12px 0;
	height: 24px;
	width:100%;
}
.btn-selected {
	overflow: hidden;
    text-overflow: none;
    text-overflow: ellipsis;
    margin:0;
    padding:0;
}
.btn-icon {
	position: absolute;
	right: 0;
	margin: 18px 8px;
    height: 6px;
    width: 6px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
    		transform: rotate(45deg);
    transform-origin: center center;
    border-right: 2px solid #00aae1;
    border-bottom: 2px solid #00aae1;
}
.btn-icon.active {
	-webkit-transform: rotate(225deg);
       -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
         -o-transform: rotate(225deg);
    		transform: rotate(225deg);
    top:8px;
}
.search-icon {
	height: 18px;
	width: 100%;
	margin: 10px 0 10px 2px;
	text-align: center;
}
.search-icon:before {
    position: absolute;
    content: "";
	-webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    border-left: 2px solid #00aae1;
    height: 12px;
    margin-left: -9px;
    margin-top: 16px;
}
.search-icon:after {
	position: absolute;
    content: "";
	border-radius: 12px;
	border: 2px solid #00aae1;
	height: 18px;
	width: 18px;
    margin-left: -8px;
    margin-top: 0;
    
}
.arrow-right-icon:before {
	position: absolute;
    content: "";
	height: 11px;
	-webkit-transform: rotate(-30deg);
       -moz-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
         -o-transform: rotate(-30deg);
            transform: rotate(-30deg);
	border-left: 2px solid #00aae1;
	margin-left: 7px;
	top:0;
}
.arrow-right-icon:after {
	position: absolute;
    content: "";
	height: 11px;
	-webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
            transform: rotate(30deg);
	border-left: 2px solid #00aae1;
	margin-top: 9px;
	margin-left: 7px;
	top:0;
}
.arrow-right-icon {
	min-width: 7px;
	padding: 10px 5px;
}
.reset-icon {
	height: 28px;
	width: 28px;
    padding: 10px;
    text-align: center;
    float: left;
    cursor: pointer;
}
.reset-icon:before {
    position: absolute;
    content: "";
	height: 28px;
	-webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    border-left: 2px solid #00aae1;
    margin-top: 0;
    margin-left: 3px;
}
.reset-icon:after {
	position: absolute;
    content: "";
	height: 28px;
	-webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    border-left: 2px solid #00aae1;
    margin-top: 0;
    margin-left: 3px;
}
.reset-icon.small {
	position: absolute;
	margin-top: 10px;
	margin-right: 12px;
	right: 0;
}
.reset-icon.small:before, .reset-icon.small:after {
	height: 9px;
}
.reset-icon.small.input-icon {
	position: relative;
	margin-right:-1px;
	margin-top:0;
	margin-left:5px;
}
.reset-icon.input-icon:before , .reset-icon.input-icon:after {
	height: 9px;
	border-left: 2px solid #d1d3d4;
	margin-left: -1px;
	margin-top:1px;
}
.input-icon {
	height: 12px;
	padding:0;
    width: 14px;
}
.mail-icon:before {
	position: absolute;
	content: "";
	height: 13px;
	-webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    border-left: 1px solid #fff;
    margin-top: -1px;
    margin-left: 5px;
}
.mail-icon:after {
	position: absolute;
	content: "";
	height: 13px;
	-webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
            transform: rotate(60deg);
    border-left: 1px solid #fff;
   	margin-top: -1px;
    margin-left: 15px;
}
.mail-icon {
	width: 21px;
	height: 15px;
	margin-top: 4px;
	background-color: #00aae1;
}
.col-mail-icon > a:focus {
	outline: 0;
}
.search-input {
	width:100%;
	padding-right: 12px;
}
.search-input > input {
	width:95%;
	padding:10px;
}
.search-input > .reset-icon.small.input-icon {
	margin-right: 8px;
    margin-top: 18px;
    position: absolute;
}
.search-input > .input-icon {
	width: 12px;
}
.search-field {
	float:left;
    border: 0;
    color: #666;
    height: 28px;
    margin: 0 6px 0 0;
    padding:0;
}
.dropdown-input {
	border-bottom: 2px solid #00aae1;
	margin: 0 8px 2px 8px;
	padding: 0;
}
.dropdown-input > .search-field {
	margin:0;
}
.dropdown-menu {
	display: block;
	align-items: center;
    position: absolute;
    background-color: #fff;
    width: 100%;
    border: 2px solid #00aae1;
    border-top: 0;
    right:0;
    top: 32px;
    padding: 0;
    z-index: 10;
    list-style: outside none none;
}
.dropdown-menu.space {
	top:63px;
}
.col-simple > .dropdown-menu {
	display: flex;
	top: 32px;
	width: auto;
	align-items: center;
}
.col-group > .dropdown-menu {
	max-height: 450px;
	overflow:auto;
}
.nobox:before {
	content: "";
}
.nobox {
	border: 1px solid #fff;
}
.nobox.checked {
	background-color: #d1d3d4;
	border: 1px solid #fff;
}
.box {
    cursor: pointer;
}
.box:before {
	content: "\2610";
    margin-right: 6px;
}
.box.checked:before {
	content: "\2611";
}
.dropdown-menu > li > ul > li > div:before {
	margin-left: 18px;
}
.dropdown-menu > li > ul > li > ul > li > div:before {
	margin-left: 36px;
}
.jobcounter,.app-link,.col-mail-icon {
	font-size: 15px;
	font-weight: 700;
    line-height: 22.5px;
	padding-top: 80px;
	padding-bottom: 39px;
	color: #999999;
}
.header {
	padding: 12px 0;
	min-height: 12px;
	border-top: 1px solid #d1d3d4;
	border-bottom: 1px solid #d1d3d4;
	font-weight: 700;
}
.footer {
	text-align: center;
}
.footer:before {
	padding: 25px;
	display: table;
	content: " ";
}
.footer:after {
	clear: both;
}

/* angular animation */
.animate-enter.animate-enter-active {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
	height: 30px;
	opacity: 1;
}
.page.ng-enter {
    opacity:0;
    -webkit-transition-duration: 1000ms;
}
.page.ng-enter.page.ng-enter-active {
    -webkit-transform:scale(1);
    opacity:1;
}
.animate-leave {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
	height: 30px;
	opacity: 0;
}
.page.ng-leave {
    opacity:1;
    -webkit-transition-duration: 400ms;
}
.page.ng-leave.page.ng-leave-active {
    -webkit-transform:scale(1);
    opacity:0;
}
.browser-msg,.error-msg {
	display:none;
}

/* IE678 not working with current angular */
@media \0screen\,screen\9 {
    .ie678, .main {
    	display:none;
    }
    .ie678, .browser-msg {
    	display:block;
    }
}
/* IE9+ */
@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
	.ie9up, .col-simple {
		width: 5%;
	}
	.ie9up,.reset-icon{
		padding: 10px 10px 10px 24px;
	}
	.ie9up,.reset-icon.small.input-icon{
		padding: 5px 0 5px 42px;
	    background-color: #fff;
	    top: -5px;
	    z-index: 999;
	}
	.ie9up,.dropdown-input {
		height: 28px;
	}
	.ie9up,.dropdown-input > .reset-icon.small.input-icon{
		position: absolute;
		padding: 5px 0 5px 24px;
	    background-color: #fff;
	    top: 2px;
	    right:1px;
	    z-index: 999;
	}
	.ie9up,.search-icon{
		margin: 10px 0 5px 50%;
	}
	.ie9up,.search-input > input {
		width:89%;
	}
	.ie9up,.col-main{
		width:93%;
	}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ */

	/* IE11 */
    _:-ms-fullscreen, :root .ie11up, .col-main{
		width: 916px;
	} 
}

/* Large */
@media (max-width: 1280px) {
	
}
/* Medium */
@media (max-width: 1024px) {
	.container {
		width: 100%;
		max-width: 964px;
		min-width: 727px;
	}
	.col-main {
		max-width: 916px;
		min-width: 679px;
	}
}
/* Small */
@media (max-width: 768px) {
	h4 {
		font-size:11pt;
	}
	.container {
		max-width: 733px;
		min-width: 446px;
	}
	.background {
		background-color: #f7f7f7;
	}
	.border {
		padding: 12px;
	}
	.isdesktop{
		display:none;
	}
	.ismobile {
		display:block;
	}
	.col-title,.col-location, .col-unit, .col-function, .col-role {
		width: 100%;
	}
	.col-main {
		max-width: 703px;
		min-width: 416px;
	}
	.col-filter {
		margin-left: 15px;
		width: 100%;
	}
 	.col-group {
		float: left;
	    min-height: 1px;
	    position: relative;
	    margin-left: 0;
	    margin-top: 12px;
	    width: 100%;
	}
	.col-simple {
		min-width:45px;
	}
	.col-title, .col-location, .col-unit, .col-function, .col-role,
	.col-title > .content-label, 
	.col-location > .content-label, 
	.col-unit > .content-label, 
	.col-function > .content-label, 
	.col-role > .content-label {
		white-space: normal;
		overflow:auto;
	}
	.content > .col-title, .content > a > .col-title {
		font-weight: normal;
	}
	.content > .col-location, .content > a > .col-location {
		display: flex;
	}
	.content-label.mobileview:before {
		content: ", ";
	}
	.content-label.mobileview {
		margin-left: -10px;
	}
	.hide-panel::before {
    	height: 45px;
    	background-color:#f7f7f7;
	}
	.panel {
	    height: 41px;
	}
	.btn {
		height:41px;
	}
	.btn-label {
		margin: 13px 0 13px 14px;
	}
	.btn-icon {
	    height: 10px;
	    margin: 11px;
	    width: 10px;
	    right: 5px;
	}
	.btn-click {
	    height: 22px !important;
	    padding: 12px 8px 8px;
	}
	.search-input > input {
		padding:0;
	}
	.search-icon::before {
	    height: 12px;
	    margin-left: -9px;
	    margin-top: 16px;
	}
	.search-icon::after {
	    height: 18px;
	    margin-left: -8px;
	    margin-top: 0;
	    width: 18px;
	}
	.search-icon {
	    margin: 6px 0 6px 2px;
	}
	.search-field {
	    height: 26px;
    	margin-top: 8px !important;
	}
	.reset-icon::before, .reset-icon::after {
	    height: 28px;
	}
	.reset-icon.small::before, .reset-icon.small::after {
	    height: 15px;
	}
	.input-icon {
	    padding: 4px 8px 0 0 !important;
	}
	.dropdown-input > .input-icon {
    	padding: 1px !important;
	}
	.dropdown-menu {
		top:24px;
	}
	.dropdown-menu.space {
		top:61px;
	}
	.mail-icon {
		margin-top: 18px;
	}
	.reset-icon {
	    padding: 7px 15px 7px 13px;
	}
	.reset-icon.small {
		margin-top: 5px;
	    padding: 8px 32px 8px 8px;
	}
	.dropdown-input {
    	margin: 0 15px 2px;
	}
	.jobcounter,.app-link,.col-mail-icon {
		padding-top: 12px;
	    padding-bottom: 0;
	    font-size: calc(12px + 3 * (100vw - 320px) / 644);
	}
	.jobcounter {
		padding-top: 26px;
	}
	.first-content {
		border-top: 1px solid #d1d3d4;
	}
	.content-label {
		margin:3px 10px 3px 0;
	}
	.search-input > .reset-icon.small.input-icon{
		margin-top:8px;
	}
	.btn-label {
		font-size:15px;
	}
	.btn-click .btn-label {
		margin: 0 0 12px 0;
	}
	li > div {
    	padding: 10px 15px;
    	font-size:15px;
	}
}
/* IE9+ Small */
@media screen and (max-width: 768px) and (min-width:0\0) and (min-resolution: +72dpi) {
	.ie9up, .col-simple {
		width: 15%;
	}
	.ie9up, .col-filter {
		width: 78%;
		float: right;
	}
	.ie9up,.search-input > input {
		width:80%;
	}
	.ie9up,.reset-icon{
		padding: 5px 10px 5px 23px;
	}
	.ie9up,.search-icon{
		margin: 5px 0 5px 50%;
	}
	.ie9up,.reset-icon.small.input-icon{
		padding: 5px 2px 5px 15% !important;
	    top: 0;
	}
	.ie9up,.dropdown-input {
		height: 34px;
	}
	.ie9up,.dropdown-input > .reset-icon.small.input-icon{
		padding: 5px 7px 5px 6% !important;
	    top: 7px;
	}
}
@media all and (max-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ Small */
	.col-filter {
		margin-left: 7%;
	}
	/* IE11 Small */
    _:-ms-fullscreen, :root .ie11up, .col-filter{
		margin-left: 5%;
		width: 100%;
	}
}

/* Phone */
@media (max-width: 480px) {
	.container {
		max-width: 445px;
		min-width: 300px;
	}
	.col-main {
		max-width: 415px;
		min-width: 270px;
	}
}

/* Loading */
.uil-default-css {
	display:inline-block;
	transform:scale(0.15);
	margin:-80px;
}
.loading-default {
	top:85px;right:94px;width:12px;height:30px;background:#00aae1;border-radius:2px;position:absolute;
}
.rotation1 {
	-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px) !important;
}
.rotation2 {
	-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px) !important;
}
.rotation3 {
	-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px) !important;
}
.rotation4 {
	-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px) !important;
}
.rotation5 {
	-webkit-transform:rotate(120deg) translate(0,-60px) !important;transform:rotate(120deg) translate(0,-60px) !important;
}
.rotation6 {
	-webkit-transform:rotate(150deg) translate(0,-60px) !important;transform:rotate(150deg) translate(0,-60px) !important;
}
.rotation7 {
	-webkit-transform:rotate(180deg) translate(0,-60px) !important;transform:rotate(180deg) translate(0,-60px) !important;
}
.rotation8 {
	-webkit-transform:rotate(210deg) translate(0,-60px) !important;transform:rotate(210deg) translate(0,-60px) !important;
}
.rotation9 {
	-webkit-transform:rotate(240deg) translate(0,-60px) !important;transform:rotate(240deg) translate(0,-60px) !important;
}
.rotation10 {
	-webkit-transform:rotate(270deg) translate(0,-60px) !important;transform:rotate(270deg) translate(0,-60px) !important;
}
.rotation11 {
	-webkit-transform:rotate(300deg) translate(0,-60px) !important;transform:rotate(300deg) translate(0,-60px) !important;
}
.rotation12 {
	-webkit-transform:rotate(330deg) translate(0,-60px) !important;transform:rotate(330deg) translate(0,-60px) !important;
}
@-webkit-keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }@keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }.uil-default-css > div:nth-of-type(1){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.5s;animation-delay: -0.5s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(2){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.4166666666666667s;animation-delay: -0.4166666666666667s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(3){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.33333333333333337s;animation-delay: -0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(4){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.25s;animation-delay: -0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(5){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.16666666666666669s;animation-delay: -0.16666666666666669s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(6){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.08333333333333331s;animation-delay: -0.08333333333333331s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(7){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0s;animation-delay: 0s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(8){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.08333333333333337s;animation-delay: 0.08333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(9){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.16666666666666663s;animation-delay: 0.16666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(10){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.25s;animation-delay: 0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(11){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.33333333333333337s;animation-delay: 0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(12){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.41666666666666663s;animation-delay: 0.41666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}